{% extends 'base.html.twig' %}

{% block title %}Manga index{% endblock %}

{% block body %}
    <h1>Manga index</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_tag_index') }}" class="btn btn-primary mb-3">Gérer les tags</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manga in mangas %}
            <tr>
                <td>{{ manga.id }}</td>
                <td>{{ manga.title }}</td>
                <td>{{ manga.price }}</td>
                <td>
                    {% for tag in manga.tags %}
                        <span class="badge bg-primary">{{ tag.label }}</span>
                    {% endfor %}
                </td>
                <td>{{ manga.createdAt ? manga.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ manga.updatedAt ? manga.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_manga_show', {'id': manga.id}) }}">show</a>
                    <a href="{{ path('app_manga_edit', {'id': manga.id}) }}">edit</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_manga_edit_tags', {'id': manga.id}) }}">Modifier tags</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_manga_new') }}">Create new</a>
{% endblock %}