{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Créer un compte</h1>
        {{ form_start(registrationForm) }}
            <div class="mb-3">
                {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <button type="submit" class="btn btn-success w-100">S'enregistrer</button>
        {{ form_end(registrationForm) }}
        <p class="mt-3 text-center">Déjà inscrit ? <a href="{{ path('app_login') }}">Connectez-vous ici</a></p>
    </div>
</div>
{% endblock %}
